.navbar {
	min-height: 70px;
	background-color: #8fad88;
}

.btn-primary {
	color: white;
	background-color: #007e83;
	border: 0;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #007175;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	background-color: #007175;	
}

.dropdown-item:active {
	background-color: #007175;
}

.icon-plus, .icon-dash {
	width: 24px;
	fill: white;
}

#icon {
	color: #475862;
}

#projetoSection {
	width: 100%;
	height: auto;
	background: #475862;
}

#projetoSection h1 {
	color: #ffffff;
}

.tab {
	display: none;
}

.step {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #007175;
	opacity: .5;
	margin: 0 2px;
	display: inline-block;
}

.step.active {
	opacity: 1;
}

.step.finish {
	background-color: #5cb85c;
}

.manage-link {
	text-decoration: none;
	color: #475862;
	transition: opacity .15s;
}

.manage-link:hover {
	opacity: .75;
	text-decoration: none;
	color: #475862;
}